body{
  position: relative;
}
#canvas{
  border: 1px solid;
  position: relative;
  margin: 0 auto;
  width: 900px;
  height: 900px;
  cursor: crosshair;
}
.cont{
  word-wrap: break-word;
  width: 500px;
}
table {
  width: 100%;
}
td {
  padding: 5px;
  vertical-align: top;
}
